@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content" style="margin: 0 !important; padding: 0 !important;">
            @Body
        </article>
    </main>
</div>
